<?xml version="1.0"?>
<!--
/**
 * Copyright © Dzinehub, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
    	<resources>
    		<resource id="Magento_Backend::admin">
    			<resource id="Dzinehub_Core::dzinehub" title="Dzinehub" translate="title" sortOrder="20">
    				<resource id="Dzinehub_Banners::dzbanners" title="Banners" translate="title" sortOrder="10" />
    			</resource>
    			<resource id="Magento_Backend::stores">
                	<resource id="Magento_Backend::stores_settings">
                   		 <resource id="Magento_Config::config">
                       		 <resource id="Dzinehub_Banners::config_dzbanners" title="Banner Configuration Section" translate="title" sortOrder="10"/>
                       	</resource>
                    </resource>
                </resource>
    		</resource>

    	</resources>
    </acl>
</config>