<?xml version="1.0"?>
<!--
/**
 * Copyright © Dzinehub, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dz_tabs" translate="label" sortOrder="250">
            <label>Dzinehub</label>
        </tab>
         <section id="dzbanners" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
         	<class>separator-top</class>
    	 	<label>Banners</label>
            <tab>dz_tabs</tab>
            <resource>Dzinehub_Banners::config_banners</resource>
            <group id="general" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="dz_enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Banners in frontend</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
        </section>
    </system>
</config>